.footer-conteiner{
    width: 100vw;
    background-color: #383736;
    display: flex;
    justify-content: center;
    padding: 5px;

    p{
        color: #FFF; 
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
    }
}

