.category-container{
    width: 200px;
    height: 333.59px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: transform .5s ease;
    

    img{
        width: 100%;
        border-radius: 4px;
        
    }

    h3{
        position: absolute;
        left: 3%;
        bottom: 10%;

        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;  
        color: #383736;
    }
}

.category-container:hover{
    transform: scale(1.1);
}