.recipe-container {
  display: flex;
  gap: 16px;
  max-width: 50%;
  height: 70px;

  .recipe-bar {
    width: 12px;
    height: 100%;
    background-color: #bf1304;
    border-radius: 12px 0 0 12px;
  }

  .recipe-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #383736;
  }

  .description {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #383736;
  }
}
