@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 273px;

    position: absolute;
    height: 86px;
    left: 2.79%;
    right: 5.93%;
    top: 12px;
    
}

img#recipelogonav{
    width: 87.11px;
    height: 86px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

img#burguernav{
    width: 20px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 18px;

    position: absolute;
    width: 329px;
    height: 222px;
    left: calc(50% - 329px/2 - 0.5px);
    top: 133px;
}

h1{
    width: 293px;
    height: 112px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    color: #383736;
    flex: none;
    order: 0;
    flex-grow: 0;
}