@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 86px; 
}

img#recipelogonav{
    width: 87.11px;
    height: 86px;
}

img#burguernav{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 18px;
    width: 329px;
    height: 222px;
}

h1{
    width: 293px;
    height: 112px;

    font-family: 'Arial';
    font-style: bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #383736;
    
}

p{
    width: 329px;
    height: 36px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #383736;
}

button{
    background: #FF674D;
    order: 2;
    width: 120px;
    height: 38px;
    margin-top: 10px;
    border-radius: 40px;
    font-family: 'Arial';
    font-style: bold;
    font-size: 18px;
    color: white;
    border: none;
}

main{
    width: 100%;
    height: 388px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.sections{
    height: 97px;
    background-color: #383736;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Arial';
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#logofooter{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
}

#logofooter img{
    width: 91px;
    height: 91px;
}