*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #383736;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculadora-eventos{
    background-color: white;
    width: min(500px, 80%);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 6px 6px 10px rgba(22, 22, 22, 0.733);
}

.calculadora-eventos h1{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #383736;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
}

.input label{
    font-weight: bold;
}

input[type='submit']{
    width: 80px;
    margin: 16px auto;
    background-color: #FF674D;
    border: none;
    border-radius: 40px;
    padding: 4px;
    color: white;
    cursor: pointer;
}

.modal{
    background-color: white;
    width: min(500px, 80%);
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    border-radius: 6px;

    display: none;
    position: relative;
}

.modal i{
    position:absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.open{
    display: block;
}

